   /* https://bootstrapcreative.com/resources/bootstrap-4-css-classes-index/ */
   
   /*   Universal Style    */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  box-sizing: content-box;
}

  /*    Navigationbar   */
.nav li a {
  font-size: 1.1rem;
  font-weight: bold;
}
#active {
  color: hsla(201, 62%, 52%, 1);
  background-color: inherit;
}

@media (max-width: 767px) {
  #logo{
    display: none; 
  }
}

/*    Carousel Section */
.jumbotron-bike {
  height: 40rem;
  width: 100%;
  margin-top: 3.8rem;
  overflow: hidden;
}
#slideshow {
  position: relative;
  display: block;
  
  margin: 0;
  padding: 0;
 }

#carousel1 {
  background-image: url("../images/jumbotron-bike.jpg");
}
#carousel2 {
  background-image: url("../images/jumbotron-beer.jpg");
}
#carousel3 {
  background-image: url("../images/jumbotron-flowers.jpg");
}
#carousel4 {
  background-image: url("../images/jumbotron-duffel.jpg");
}

#carousel1, #carousel2, #carousel3, #carousel4 {
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;  
  height: 40rem;
  text-align: center;
}
.bike-content {
  margin: 11.85rem auto;
}
.bike-content h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 hsla(360, 100%, 100%, 1),
  1px -1px 0 hsla(360, 100%, 100%, 1), -1px 1px 0 hsla(360, 100%, 100%, 1), 1px 1px 0 hsla(360, 100%, 100%, 1);
}
.bike-content p {
  color: hsla(360, 100%, 100%, 1);
}

.btn {
  width: 11.4rem;
  padding: 1.3rem 2rem;
}
.btn-primary {
  background-color: hsla(201, 62%, 52%, 1);
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.5);
  transition: all 200ms linear;
}
.btn-primary:hover {
  box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.9) 
}
.btn-primary:active {
  box-shadow: 0 0 0 hsla(0, 0%, 0%, 0.5);
}

/*    @Media Queries    */
@media only screen and (max-width: 730px) {
  .bike-content {
    width: 100%;
    margin: 14rem auto 0 auto;
  }
  #carousel1 {
    height: 37rem;
  }
}

@media only screen and (max-width: 675px) {
  #slideshow {
    height: 37rem;
   }
   #carousel1, #carousel2, #carousel3, #carousel4 {
     height: 37rem;
   }
  
  .bike-content {
    width: auto;
    margin: 15rem auto 0 auto;
  }
  
  .bike-content h1 {
    font-size: 4.1rem;
    text-shadow: -1px -1px 0 hsla(360, 100%, 100%, 1),
    1px -1px 0 hsla(360, 100%, 100%, 1), -1px 1px 0 hsla(360, 100%, 100%, 1), 1px 1px 0 hsla(360, 100%, 100%, 1);
  }
  .bike-content p {
    color: hsla(360, 100%, 100%, 1);
  }
}
/*    Featured Project   */

.featured-projects {
  margin: 3rem auto 5.85rem auto;
}
.featured-h2 {
  margin-top: 3rem;
}
.featured-projects .row h2 {
  color: hsla(201, 62%, 52%, 1);
  font-weight: bold;
  font-size: 1.7rem;  
  margin: 1.4rem;
}
.featured-projects .row h3 {
  font-weight: bold;
  font-size: 1.3rem;  
}
#product-categories {
  color: hsla(201, 62%, 52%, 1);
}
.image-container img {
  opacity: 0.7;
}

.img-hover img {
  border: 1rem solid hsla(360, 100%, 100%, 1);
  overflow: hidden;
  transition: all .3s ease;
}
.img-hover img:hover {
  backface-visibility: hidden;
  transform: scale(1.1);

}

/*    Footer    */
footer {
  text-align: center;
  background-color: hsla(0, 0%, 95%, 1);
}
.trouble h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 5.2rem;
}
.trouble p {
  margin: 1.4rem auto;
}
.trouble a {
  margin-bottom: 5.2rem;
}