   /* https://bootstrapcreative.com/resources/bootstrap-4-css-classes-index/ */
   
   /*   Universal Style    */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  box-sizing: content-box;
}


  /*    Navigationbar   */
.nav li a {
  font-size: 1.1rem;
  font-weight: bold;
}
#active {
  color: hsla(201, 62%, 52%, 1);
  background-color: inherit;
}

@media (max-width: 767px) {
  #logo{
    display: none; 
  }
}

/*    Carousel Section */
.bike-content {
  width: 51.3rem;
  text-align: center;
  margin: 11.85rem auto;
}
.bike-content h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 hsla(360, 100%, 100%, 1),
  1px -1px 0 hsla(360, 100%, 100%, 1), -1px 1px 0 hsla(360, 100%, 100%, 1), 1px 1px 0 hsla(360, 100%, 100%, 1);
}
.bike-content p {
  color: hsla(360, 100%, 100%, 1);
}
.btn {
  width: 11.4rem;
  padding: 1.3rem 2rem;
}
.btn-primary {
  background-color: hsla(201, 62%, 52%, 1);
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.5);
  transition: all 200ms linear;
}
.btn-primary:hover {
  box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.9) 
}
.btn-primary:active {
  box-shadow: 0 0 0 hsla(0, 0%, 0%, 0.5);
}

/*    Featured Project   */

